
.all-articules {
  padding-top: 20px;

  &__img {
    display: flex;
    padding-bottom: 10px;

    figure {
      width: 80%;
    }

    figure img {
      display: block;
      width: 100%;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;

    h2 {
      @extend %links;
      font-size: $lk-all-articules-font-size;
    }

    p {
      @extend %bottom-p;
      font-size: $p-all-articule-font-size;
    }
  }
}
