
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    @extend %logo;
  }

  &__links {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    a {
      @extend %links;
      padding-right: 20px;
      font-size: $hdr-lk-font-size;

      &:hover {
        color: black;
      }
    }
  }
  &__content {
    background-image: url(../imagen/banner.png);
    max-width: 100%;
    text-align: center;
    padding: 3% 15%;

    h2 {
      padding: 2px 0px;
      @extend %title;
      font-size: $tl-main-font-size;
    }
    p {
      @extend %title-p;
      font-size: $tl-p-font-size;
    }
  }
}
