
// Tablets

@include breakpoint("tablet") {
  main {
    margin: 0% 3%;
  }

  .secondaries-articules {
    flex-wrap: wrap;
    .container {
      width: 50%;
    }
  }

  .all-articules {
    figure {
      width: 120%;
    }
  }

  .footer {
    &__text {
      div {
        max-width: 60%;
      }
    }
  }

  .header {
    margin: 2% 3%;

    &__links a {
      font-size: $hdr-lk-font-size-t;
    }
    &__content {
      h2 {
        font-size: $tl-main-font-size-t;
      }
      p {
        font-size: $tl-p-font-size-t;
      }
    }
  }
  .main-articule {
    .container {
      h2 {
        font-size: $lk-main-font-size-t;
      }
      p {
        font-size: $p-main-font-size-t;
      }
    }
  }

  .secondaries-articules {
    .container {
      h2 {
        font-size: $lk-secondary-font-size-t;
      }
      p {
        font-size: $p-secondary-font-size-t;
      }
    }
  }
  .all-articules {
    &__content {
      h2 {
        font-size: $lk-all-articules-font-size-t;
      }
      p {
        font-size: $p-all-articule-font-size-t;
      }
    }
  }

  .articule-bottom {
    a {
      font-size: $lk-bottom-font-size-t;
    }
    h3 {
      font-size: $p-all-articule-font-size-t;
    }
  }

  .links:nth-of-type(odd) {
    a {
      font-size: $l-letter-font-size-t;
    }
  }
  .links:nth-of-type(even) {
    a {
      font-size: $l-letter-font-size-2-t;
    }
  }

  footer {
    .rights {
      font-size: $p-main-font-size-t;
    }
  }

  .footer {
    &__text {
      div {
        h2 {
          font-size: $lk-main-font-size-t;
        }

        p {
          font-size: $p-main-font-size-t;
        }
      }
    }
    &__container {
      &__text2__logo {
        .subtitle {
          font-size: $l-letter-font-size-t;
        }
      }

      &__text2__grid {
        h3 {
          font-size: $p-main-font-size-t;
        }
      }
      &__text3 {
        a {
          font-size: $tl-p-font-size-t;
        }
        ul a {
          font-size: $p-secondary-font-size-t;
        }
      }
    }
  }
}

//SMARTPHONE

@include breakpoint("smartphone") {
  .main-articule {
    flex-wrap: wrap;
    .container {
      width: 100%;
      order: 1;
    }
    .img {
      width: 100%;
    }
  }


  .secondaries-articules {
    flex-wrap: wrap;
    justify-content: center;
    .container {
      width: 100%;
      figure {
        width: 100%;
      }
    }
  }

  .all-articules {
    &__img{
      flex-wrap: wrap;
      justify-content: center;
    }
    
    figure {
      width: 100%;
      padding-bottom: 10px;
    }
  }

  .footer {
    &__text {
      flex-wrap: wrap;
      justify-content: center;
      div {
        max-width: 100%;
      }
      a {
        margin-left: 0%;
        width: 100%;
        margin-bottom: 50px;
      }
    }
  }

  .header {
    margin: 2% 5%;

    &__links a {
      font-size: $hdr-lk-font-size-sm;
    }
    &__content {
      h2 {
        font-size: $tl-main-font-size-sm;
      }
      p {
        font-size: $tl-p-font-size-sm;
      }
    }
  }
  .main-articule {
    .container {
      h2 {
        font-size: $lk-main-font-size-sm;
      }
      p {
        font-size: $p-main-font-size-sm;
      }
    }
  }

  .secondaries-articules {
    .container {
      h2 {
        font-size: $lk-secondary-font-size-sm;
      }
      p {
        font-size: $p-secondary-font-size-sm;
      }
    }
  }
  .all-articules {
    &__content {
      h2 {
        font-size: $lk-all-articules-font-size-sm;
      }
      p {
        font-size: $p-all-articule-font-size-sm;
      }
    }
  }

  .articule-bottom {
    a {
      font-size: $lk-bottom-font-size-sm;
    }
    h3 {
      font-size: $p-all-articule-font-size-sm;
    }
  }

  .links:nth-of-type(odd) {
    a {
      font-size: $l-letter-font-size-sm;
    }
  }
  .links:nth-of-type(even) {
    a {
      font-size: $l-letter-font-size-2-sm;
    }
  }

  footer {
    .rights {
      font-size: $p-main-font-size-sm;
    }
  }

  .footer {
    &__text {
      div {
        h2 {
          font-size: $lk-main-font-size-sm;
        }

        p {
          font-size: $p-main-font-size-sm;
        }
      }
    }
    &__container {
      &__text2__logo {
        .subtitle {
          font-size: $l-letter-font-size-sm;
        }
      }

      &__text2__grid {
        h3 {
          font-size: $p-main-font-size-sm;
        }
      }
      &__text3 {
        a {
          font-size: $tl-p-font-size-sm;
        }
        ul a {
          font-size: $p-secondary-font-size-sm;
        }
      }
    }
  }
}
