@import "styles";

.links {
  padding: 20px 0px;
  li {
    list-style: none;
  }
  a {
    @extend %letters;
  }
  &__post {
    display: flex;
    justify-content: space-between;
    .fa-arrow-left {
      padding-right: 10px;
    }
    .fa-arrow-right{
      padding-left: 10px;
    }
  }
}

.links:nth-of-type(odd) {
  a {
    font-size: $l-letter-font-size;
  }
}

.links:nth-of-type(even) {
  a {
    font-size: $l-letter-font-size-2;
  }
}

.links:nth-of-type(2) {
  text-align: right;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
