
.main-articule {
  display: flex;
  .container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    h2 {
      @extend %links;
      font-size: $lk-main-font-size;
    }

    p {
      @extend %bottom-p;
      padding-top: 15px;
      font-size: $p-main-font-size;
    }
  }

  figure img {
    width: 100%;
    display: $img-display;
    padding: 10px;
  }
}
