
.main-articule {
  display: flex;
  justify-content: center;
  .container {
    width: 50%;
    display: grid;
    align-items: space-between;

    h2 {
      @extend %links;
      font-size: $lk-main-font-size;
    }

    p {
      @extend %bottom-p;
      padding-top: 15px;
      font-size: $p-main-font-size;
    }
  }

  figure img {
    width: 100%;
    display: $img-display;
    padding: 10px;
  }
}
