//Estilos Header
//logo
$logo-color:#316099;

%logo{
  color: $logo-color;
  border: 2px solid $logo-color;
  border-radius: 30px;
  box-shadow: $logo-color;
  text-decoration: none;
  font-weight: bold;
  font-family: Arial;
  padding: 2px 5px;
  box-shadow: -15px 0 $logo-color ;
}

//Titulo
%title{
  color :white;
  font-family: Arial;
  text-decoration: none;
  letter-spacing: 0.04em;
  line-height: 74px;
}

%title-p{
  color : rgba(255, 255, 255, 0.78);
  font-family: Arial;
  text-decoration: none;
  letter-spacing: 0.04em;
  line-height: 30px;
}



//Estilos principales - links
%links{
  color :#1F3F68;
  font-family: Helvetica;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.04em;
}

//tamaños de letras -lk:links - tl:titulos - p:Parrafos - l:letters
$tl-main-font-size:44px;
$tl-p-font-size:20px;
$lk-main-font-size: 36px;
$lk-secondary-font-size:22px;
$lk-all-articules-font-size: 18px;
$lk-bottom-font-size:14px;
$p-main-font-size:16px;
$p-secondary-font-size:16px;
$l-letter-font-size:23px;
$l-letter-font-size-2:16px;


//botom - parrafo
%bottom-p{
  color: gray;
  font-family: arial;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.04em;
}

%letters{
  color: #356EAD;
  line-height: 18px;
  letter-spacing: 0.04em;
  opacity: 0.8;
  font-family: Helvetica;
  font-weight: bold;
  text-decoration: none;
}

//Estilos de grilla
$img-display : block;



