//Estilos Header
//logo
$logo-color: #316099;
$logo-color2: #98C3E8;

%logo {
  color: $logo-color;
  border: 2px solid $logo-color;
  border-radius: 30px;
  box-shadow: $logo-color;
  text-decoration: none;
  font-weight: bold;
  font-family: Arial;
  padding: 2px 5px;
  box-shadow: -15px 0 $logo-color;
}

%logo2 {
  color: $logo-color;
  border: 2px solid $logo-color;
  background-color: white;
  border-radius: 30px;
  box-shadow: $logo-color2;
  text-decoration: none;
  font-weight: bold;
  font-family: Arial;
  padding: 2px 5px;
  box-shadow: -15px 0 $logo-color2;
}

//Titulo
%title {
  color: white;
  font-family: Arial;
  text-decoration: none;
  letter-spacing: 0.04em;
  line-height: 74px;
}

%title-p {
  color: rgba(255, 255, 255, 0.78);
  font-family: Arial;
  text-decoration: none;
  letter-spacing: 0.04em;
  line-height: 30px;
}

//Estilos principales - links
%links {
  color: #1f3f68;
  font-family: Helvetica;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.04em;
}

//tamaños de letras -lk:links - tl:titulos - p:Parrafos - l:letters
$hdr-lk-font-size:20px;
$tl-main-font-size: 44px;
$tl-p-font-size: 20px;
$lk-main-font-size: 36px;
$lk-secondary-font-size: 22px;
$lk-all-articules-font-size: 18px;
$lk-bottom-font-size: 14px;
$p-main-font-size: 16px;
$p-secondary-font-size: 16px;
$p-all-articule-font-size:14px;
$l-letter-font-size: 20px;
$l-letter-font-size-2: 16px;

//tablet
//tamaños de letras -lk:links - tl:titulos - p:Parrafos - l:letters
$hdr-lk-font-size-t:20px;
$tl-main-font-size-t: 32px;
$tl-p-font-size-t: 16px;
$lk-main-font-size-t: 28px;
$lk-secondary-font-size-t: 18px;
$lk-all-articules-font-size-t: 18px;
$lk-bottom-font-size-t: 14px;
$p-main-font-size-t: 16px;
$p-secondary-font-size-t: 16px;
$p-all-articule-font-size-t:14px;
$l-letter-font-size-t: 20px;
$l-letter-font-size-2-t: 16px;

//smartphone
//tamaños de letras -lk:links - tl:titulos - p:Parrafos - l:letters
$hdr-lk-font-size-sm:14px;
$tl-main-font-size-sm: 24px;
$tl-p-font-size-sm: 13px;
$lk-main-font-size-sm: 20px;
$lk-secondary-font-size-sm: 18px;
$lk-all-articules-font-size-sm: 18px;
$lk-bottom-font-size-sm: 14px;
$p-main-font-size-sm: 14px;
$p-secondary-font-size-sm: 14px;
$p-all-articule-font-size-sm:14px;
$l-letter-font-size-sm: 22px;
$l-letter-font-size-2-sm: 16px;









//botom - parrafo
%bottom-p {
  color: gray;
  font-family: arial;
  line-height: 24px;
  letter-spacing: 0.04em;
}

%letters {
  color: #356ead;
  line-height: 18px;
  letter-spacing: 0.04em;
  opacity: 0.8;
  font-family: Helvetica;
  font-weight: bold;
  text-decoration: none;
}


%footer
 {
  color: white;
  font-family: arial;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-decoration: none;
}

//Estilos de grilla
$img-display: block;


$breakpoints: (
  "tablet"      :900px,
  "smartphone"  :768px,
  "sm"          : 420px,
);
