* {
  box-sizing: border-box;
}

main{
  margin: 5% 10%;
}

.header{
  margin: 2% 10%;
}

@import "bottoms";
@import "main-articules";
@import "secondaries-articules";
@import "all-articles";
@import "header";


