* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  margin: 0px 10%;
}

.header {
  margin: 2% 10%;
}

.footer {
  margin: 0px 10%;
}

.header__logo {
  color: #316099;
  border: 2px solid #316099;
  border-radius: 30px;
  -webkit-box-shadow: #316099;
          box-shadow: #316099;
  text-decoration: none;
  font-weight: bold;
  font-family: Arial;
  padding: 2px 5px;
  -webkit-box-shadow: -15px 0 #316099;
          box-shadow: -15px 0 #316099;
}

.footer__container__text2__logo .logo {
  color: #316099;
  border: 2px solid #316099;
  background-color: white;
  border-radius: 30px;
  -webkit-box-shadow: #98C3E8;
          box-shadow: #98C3E8;
  text-decoration: none;
  font-weight: bold;
  font-family: Arial;
  padding: 2px 5px;
  -webkit-box-shadow: -15px 0 #98C3E8;
          box-shadow: -15px 0 #98C3E8;
}

.header__content h2 {
  color: white;
  font-family: Arial;
  text-decoration: none;
  letter-spacing: 0.04em;
  line-height: 74px;
}

.header__content p {
  color: rgba(255, 255, 255, 0.78);
  font-family: Arial;
  text-decoration: none;
  letter-spacing: 0.04em;
  line-height: 30px;
}

.articule-bottom a, .main-articule .container h2, .secondaries-articules .container h2, .all-articules__content h2, .header__links a {
  color: #1f3f68;
  font-family: Helvetica;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.04em;
}

.articule-bottom h3, .main-articule .container p, .secondaries-articules .container p, .all-articules__content p {
  color: gray;
  font-family: arial;
  line-height: 24px;
  letter-spacing: 0.04em;
}

.links a {
  color: #356ead;
  line-height: 18px;
  letter-spacing: 0.04em;
  opacity: 0.8;
  font-family: Helvetica;
  font-weight: bold;
  text-decoration: none;
}

footer .rights, .footer__text, .footer__text a, .footer__container a, .footer__container__text2__grid h3 {
  color: white;
  font-family: arial;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-decoration: none;
}

.articule-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 10px;
}

.articule-bottom a {
  font-size: 14px;
}

.articule-bottom h3 {
  font-size: 14px;
}

.articule-bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.articule-bottom ul li {
  padding-right: 10px;
}

.main-articule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-articule .container {
  width: 50%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.main-articule .container h2 {
  font-size: 36px;
}

.main-articule .container p {
  padding-top: 15px;
  font-size: 16px;
}

.main-articule figure img {
  width: 100%;
  display: block;
  padding: 10px;
}

.secondaries-articules {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.secondaries-articules .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  padding: 0.6%;
  width: 30%;
}

.secondaries-articules .container figure {
  padding-bottom: 5%;
}

.secondaries-articules .container img {
  width: 100%;
}

.secondaries-articules .container h2 {
  font-size: 22px;
}

.secondaries-articules .container p {
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.all-articules {
  padding-top: 20px;
}

.all-articules__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.all-articules__img figure {
  width: 80%;
}

.all-articules__img figure img {
  display: block;
  width: 100%;
  padding: 5px;
}

.all-articules__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.all-articules__content h2 {
  font-size: 18px;
}

.all-articules__content p {
  font-size: 14px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__links a {
  padding-right: 20px;
  font-size: 20px;
}

.header__links a:hover {
  color: black;
}

.header__content {
  background-image: url(../imagen/banner.png);
  max-width: 100%;
  text-align: center;
  padding: 3% 15%;
}

.header__content h2 {
  padding: 2px 0px;
  font-size: 44px;
}

.header__content p {
  font-size: 20px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3% 0px;
}

.search .fa-search {
  padding: 10px;
  color: #1f3f68;
  text-align: center;
  background-color: #f4f4f4;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search__field {
  width: 100%;
  border: none;
  background-color: #f4f4f4;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search input:focus {
  border: none;
  color: #1f3f68;
}

.links {
  padding: 20px 0px;
}

.links li {
  list-style: none;
}

.links__post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.links__post .fa-arrow-left {
  padding-right: 10px;
}

.links__post .fa-arrow-right {
  padding-left: 10px;
}

.links:nth-of-type(odd) a {
  font-size: 20px;
}

.links:nth-of-type(even) a {
  font-size: 16px;
}

.links:nth-of-type(2) {
  text-align: right;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

footer {
  background-color: #316099;
  border-radius: 0px 200px 0px 0px;
  margin-right: 2%;
}

footer .rights {
  font-size: 16px;
  opacity: 0.6;
  padding: 30px 0px;
}

.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text div {
  max-width: 50%;
  padding: 7% 0;
  padding-right: 5%;
}

.footer__text div h2 {
  font-size: 36px;
  line-height: 46px;
  padding-right: 30%;
  padding-bottom: 5%;
}

.footer__text div p {
  font-size: 16px;
  opacity: 0.6;
}

.footer__text a {
  margin-left: 20%;
  text-align: center;
  background: #5a98d0;
  border-radius: 10px;
  padding: 10px 50px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__container__text2__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
}

.footer__container__text2__logo .subtitle {
  padding-left: 10px;
  font-size: 20px;
}

.footer__container__text2__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px 0.8fr;
      grid-template-columns: 30px 0.8fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__container__text2__grid h3 {
  font-size: 16px;
}

.footer__container__text3 a {
  display: block;
  font-size: 20px;
  padding: 20px 0px;
}

.footer__container__text3 ul a {
  font-size: 16px;
  padding: 5px 0px;
}

@media (max-width: 900px) {
  main {
    margin: 0% 3%;
  }
  .secondaries-articules {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .secondaries-articules .container {
    width: 50%;
  }
  .all-articules figure {
    width: 120%;
  }
  .footer__text div {
    max-width: 60%;
  }
  .header {
    margin: 2% 3%;
  }
  .header__links a {
    font-size: 20px;
  }
  .header__content h2 {
    font-size: 32px;
  }
  .header__content p {
    font-size: 16px;
  }
  .main-articule .container h2 {
    font-size: 28px;
  }
  .main-articule .container p {
    font-size: 16px;
  }
  .secondaries-articules .container h2 {
    font-size: 18px;
  }
  .secondaries-articules .container p {
    font-size: 16px;
  }
  .all-articules__content h2 {
    font-size: 18px;
  }
  .all-articules__content p {
    font-size: 14px;
  }
  .articule-bottom a {
    font-size: 14px;
  }
  .articule-bottom h3 {
    font-size: 14px;
  }
  .links:nth-of-type(odd) a {
    font-size: 20px;
  }
  .links:nth-of-type(even) a {
    font-size: 16px;
  }
  footer .rights {
    font-size: 16px;
  }
  .footer__text div h2 {
    font-size: 28px;
  }
  .footer__text div p {
    font-size: 16px;
  }
  .footer__container__text2__logo .subtitle {
    font-size: 20px;
  }
  .footer__container__text2__grid h3 {
    font-size: 16px;
  }
  .footer__container__text3 a {
    font-size: 16px;
  }
  .footer__container__text3 ul a {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .main-articule {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-articule .container {
    width: 100%;
  }
  .main-articule .img {
    width: 100%;
  }
  .secondaries-articules {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .secondaries-articules .container {
    width: 100%;
  }
  .secondaries-articules .container img {
    width: 80%;
  }
  .all-articules__img {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .all-articules figure {
    width: 90%;
  }
  .footer__text {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__text div {
    max-width: 100%;
  }
  .footer__text a {
    margin-left: 0%;
    width: 100%;
    margin-bottom: 50px;
  }
  .header {
    margin: 2% 5%;
  }
  .header__links a {
    font-size: 14px;
  }
  .header__content h2 {
    font-size: 24px;
  }
  .header__content p {
    font-size: 13px;
  }
  .main-articule .container h2 {
    font-size: 20px;
  }
  .main-articule .container p {
    font-size: 14px;
  }
  .secondaries-articules .container h2 {
    font-size: 18px;
  }
  .secondaries-articules .container p {
    font-size: 14px;
  }
  .all-articules__content h2 {
    font-size: 18px;
  }
  .all-articules__content p {
    font-size: 14px;
  }
  .articule-bottom a {
    font-size: 14px;
  }
  .articule-bottom h3 {
    font-size: 14px;
  }
  .links:nth-of-type(odd) a {
    font-size: 22px;
  }
  .links:nth-of-type(even) a {
    font-size: 16px;
  }
  footer .rights {
    font-size: 14px;
  }
  .footer__text div h2 {
    font-size: 20px;
  }
  .footer__text div p {
    font-size: 14px;
  }
  .footer__container__text2__logo .subtitle {
    font-size: 22px;
  }
  .footer__container__text2__grid h3 {
    font-size: 14px;
  }
  .footer__container__text3 a {
    font-size: 13px;
  }
  .footer__container__text3 ul a {
    font-size: 14px;
  }
}
/*# sourceMappingURL=h6_main.css.map */