* {
  box-sizing: border-box;
}

main {
  margin: 0px 10%;
}

.header {
  margin: 2% 10%;
}

.footer {
  margin: 0px 10%;
}

@import "variables";
@import "bottoms";
@import "main-articules";
@import "secondaries-articules";
@import "all-articles";
@import "header";
@import "search";
@import "letters";
@import "footer";
@import "breakpoints";
@import "layout";
